body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
  text-align: center;
  height: 100vh;
  background-image: url('https://media.istockphoto.com/vectors/young-cartoon-man-and-woman-examining-finance-statistics-vector-id1339616405?k=20&m=1339616405&s=612x612&w=0&h=USooXQb6cu-3-MlubrPhTA0V3VYz0OeuAQFkcTF3w9U=');
  background-position: center;
  background-repeat: no-repeat;

}

.main {
  color: #ffffff;
  padding: 30px;
}

input {
  margin-top: 20px;
  border-radius: 3px;
  background-color: #f9d8e8;
}
 
button {
  margin-top: 15px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f8c3dd;
}

button:hover {
  background-color: #e6a1c2;
}

h2 {
  margin-top: 50px;
}
